.manage-comp {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.home-tab-btn,
.manage-home-btn,
.opinion-tab-btn {
  display: inline-block;
  width: 140px;
  height: 36px;
  background-color: #999999;
  color: #ffffff;
  line-height: 36px;
  text-align: center;
  border-radius: 4px;
}

/* 搜索框 */
.manage-comp .manage-search-input {
  width: 180px;
}
.manage-comp .manage-search-input .el-input__inner {
  padding-left: 15px;
  padding-right: 40px;
  height: 33px;
  line-height: 33px;
}
.manage-comp .icon-search {
  height: 33px !important;
  cursor: pointer;
  font-size: 22px;
  color: #333;
  margin-right: 10px;
}
.manage-comp .icon-search:hover {
  color: #3d8cfc;
}

/* 表格 */
.manage-comp .el-table,
.manage-comp .el-table__header,
.manage-comp .el-table__body {
  /* width: 100% !important; */
}
.el-table__header{
  width: 100% !important;
}
.el-table__body{
  width: 100% !important;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #f5f5f5;
}

/* 弹窗 */
.manage-dialog.el-dialog {
  border-radius: 8px;
}
.manage-dialog.el-dialog .el-dialog__header { border-bottom: 1px solid #eee; }
.manage-dialog.el-dialog .el-dialog__footer { text-align: center; }
.manage-dialog.el-dialog .el-dialog__body { padding: 30px; }
.manage-dialog.el-dialog .el-dialog__title {
  font-size: 16px;
  color: #333;
}

/* 按钮 */
.manage-dialog.el-dialog .el-button+.el-button { margin-left: 30px; }
.btn-export {
  font-size: 14px;
  padding: 7px 15px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 10px;
}
.type-add-btn, .btn-export {
  background-color: #498be3;
  border-color: #498be3;
}
.type-add-btn.el-button--primary:focus,
.type-add-btn.el-button--primary:hover,
.btn-export:hover,
.btn-export:focus {
  background-color: #66b1ff;
  border-color: #66b1ff;
}

/* 首页设置 */
.manage-home-comp {
  padding-top: 20px;
}
.manage-home-btn {
  width: 130px;
  cursor: pointer;
  background-color: #13bc75;
}

/* 轮播图上传 */
.banner-upload {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.banner-upload .el-upload{
  width: 120px;
  height: 36px;
  border: none;
}

/* 富文本编辑器 */
.manage-editor .ql-container {
  height: 200px;
  font-size: 14px;
  color: #333333;
}

.flex-align-c{
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.ml10 { margin-left: 10px; }

.el-upload-list__item.is-success.focusing .el-icon-close-tip{
  display: none !important;
}
.el-list-enter-active,
.el-list-leave-active {
  transition: none;
}
.el-list-enter,
.el-list-leave-active {
  opacity: 0;
}
.el-upload-list {
  max-width: 500px;
}

/* 意见回复 需求回复 */
.reply-alert {
  width: 500px;
}
.reply-alert .el-message-box__content {
  padding: 15px 20px;
}

/* 功能模块弹窗 */
.module-dialog {
  padding: 0;
  border-radius: 6px;
  margin-left: 450px;
  bottom: 0;
  margin-top: calc(100vh - 530px) !important;
}
.module-dialog .el-dialog__header {
  border-bottom: 1px solid #eeeeee;
  margin: 0 20px;
  padding-left: 0;
}
.module-dialog .el-dialog__body{
  padding: 0;
}
.module-dialog .el-scrollbar__wrap{
  overflow-x: hidden;
}

.vue-grid-layout{
  margin-top: 50px;
}
