.more-wrapper {
  background-color: #f1f2f5;
}
.more-breadcrumb {
  width: 1200px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  font-size: 12px;
  color: #999999;
}
.more-breadcrumb span{
  cursor: pointer;
}
.breadcrumb-cur {
  color: #333333;
}
.more-content {
  width: 1200px;
  min-height: calc(100vh - 215px);
  margin: 0 auto 50px;
  border-radius: 10px;
  background-color: #ffffff;
}

/* 文章详情页 */
.detail-header {
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  padding: 60px 0 40px;
}
.detail-title {
  font-size: 24px;
  color: #000000;
  text-align: center;
}
.detail-info {
  font-size: 12px;
  color: #666666;
  justify-content: center;
  margin-top: 30px;
}
.info-item { padding: 0 25px; }
.detail-header .iconfont {
  width: 18px;
  height: 18px;
  fill: #666666;
  margin-right: 6px;
}
.detail-header .iconfont.iconfont-time {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.detail-content {
  padding: 40px 20px 30px;
  color: #333333;
  font-size: 16px;
  line-height: 30px;
}
.detail-content p a {
  text-decoration: underline solid #333333;
  text-underline-position:under;
}
.detail-content p a:hover {
  color: #3d8cfc;
}
.detail-content img {
  display: block;
  max-width: 100%;
  margin: 40px auto;
}
/* 附件 */
.attachment-list {
  padding: 0 20px;
}
.attachment-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.attachment-list .icon-file {
  width: 18px;
  height: 18px;
}
.attachment-name {
  font-size: 14px;
  color: #3d8cfc;
  margin-left: 6px;
  cursor: pointer;
}

/* 搜同事 */
.colleague-wrapper .colleague-input {
  width: 700px;
}
.colleague-input .el-input__inner {
  width: 600px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  font-size: 14px;
  color: #999999;
}
.colleague-input .el-input-group__append {
  width: 100px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 0 25px 25px 0;
  font-size: 18px;
  color: #ffffff;
  background-color: #3d8cfc;
  padding: 0;
  cursor: pointer;
}
.colleague-wrapper .iconfont {
  width: 14px;
  height: 14px;
  fill: #666666;
}
.colleague-wrapper .el-pagination {
  text-align: center;
  margin-bottom: 50px;
}
.colleague-wrapper .el-pager li,
.colleague-wrapper .el-pagination button {
  background-color: #f1f2f5;
}
.colleague-wrapper .el-pagination__editor .el-input__inner {
  background-color: #f1f2f5;
  border-color: #dddddd;
}
.colleague-wrapper .nothing {
  margin-top: 200px;
}
.colleague-wrapper .nothing img {
  width: 220px;
}


/* 暂无数据 */
.more-notice .nodata-tip {
  position: relative;
  width: 100%;
  height: 600px;
  color: #999999;
  font-size: 14px;
}
.more-notice .nodata-tip div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.more-notice .nodata-tip img {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}


.flex-align-c {
  display: flex;
  align-items: center;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.mb10 { margin-bottom: 10px; }
.mt20 { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }
.mt30 { margin-top: 30px; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis2 {
  letter-spacing: 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;  /*要显示的行数*/
  -webkit-box-orient: vertical;
}
